$whiteA: #FEFEFE;
$whiteB: #848C8E;
$lightblue: #274690;
$darkblue: #1B264F;
$lightgrey: #E7E7E7;
$grey: #2A363B;
$black: #151515;
$red: #E84A5F;
$yellow: #AE9131;

$font: Helvetica, sans-serif;
$title: 'Merriweather', serif;
$other: 'Roboto', sans-serif;
$headline: 'Libre Franklin', sans-serif;
$body: Georgia, serif;
$gar: 'EB Garamond', serif;
$thin: 'Julius Sans One', sans-serif;

@include add-grid(4);
@include add-gutter(1/24);
@include sgs-change('output', 'float');


// @include sgs-change('debug', true);
// @include background-grid($color: blue);
