<div class="card">
  <span class="card-title">Related in </span><span ng-bind="model.currentCat" class="card-title"></span>
  <ul ng-repeat="article in model.articleMatches">
    <li ui-sref-active="article-active">
      <a ui-sref="article({category: article.category, articleId: article.id})">
        <ul class="related-news">
          <li ng-bind="article.title" class="news-title"></li>
          <li><span ng-bind="article.author" class="news-author"></span><span ng-bind="article.timestamp | date: 'longDate'" class="news-timestamp"></span></li>
        </ul>
      </a>
    </li>
  </ul>
</div>

<!-- ng-show on tags isn't working... -->
<div ng-show="model.tags.length > 0" class="card">
  <span class="card-title">Tags</span>
  <ul ng-repeat="tag in model.tags">
    <li><a ui-sref="tags({tag: tag})" ng-bind="tag"></a></li>
  </ul>
</div>
