$menuWide: 90%;

header {
  margin-bottom: 10px;
  background-color: white;
  box-shadow: 2px 2px 2px $grey;
  position: fixed;
  z-index: 2000;
  width: 100%;
  padding-bottom: 5px;
  @include breakpoint($med) {
    margin-bottom: 0;
  }
  @include breakpoint($wide) {
    box-shadow: none;
    position: static;
    background-color: $whiteA;
  }
}

.mobile-hide {
  display: none;
  @include breakpoint($wide) {
    display: block;
  }
}

.logo {
  text-align: left;
  font-family: serif;
  font-size: 1.5em;
  color: $black;
  margin: 10px auto 0 auto;
  font-family: $logo;
  @include breakpoint($sm) {
    font-size: 2em;
  }
  @include breakpoint($med) {
    font-size: 2.8em;
    margin: auto;
    text-align: center;
  }

  // .now {
  //   font-family: $body;
  // }

  .news {
    font-family: $logo2;
  }
}

.logo-container {
  display: table;
  width: 95%;
  margin: auto;
  @include breakpoint($wide) {
    width: $menuWide;
  }

  .menu-icon {
    margin: 10px 10px 0 10px;
    font-size: 1.8em;
    cursor: pointer;
    transform: translateY(6px);
    @include breakpoint($sm) {
      font-size: 2.5em;
      transform: translateY(8px);
    }
    @include breakpoint($med) {
      margin: 10px 10px 0 0;
    }
  }

  .no-wrap {
    white-space: nowrap;
  }

  ul {
    display: table-row;
  }

  li {
    list-style: none;
    display: table-cell;
    vertical-align: bottom;
    width: 50%;
    @include breakpoint($med) {
      width: calc(90%/3);
    }

    .desktop-hide {
      display: block;
      @include breakpoint($wide) {
        display: none;
      }
    }
  }

  .date, .weather {
    font-size: .8em;
    font-family: $other;
    display: none;
    @include breakpoint($med) {
      display: table-cell;
    }
  }

  .weather {
    cursor: pointer;
  }

  .date {
    text-align: left;
  }

  .logo-subtext {
    text-align: center;
    font-size: 1em;
    font-family: $logo2;
  }

  .mobile-hide {
    display: none;
    @include breakpoint($wide) {
      display: table-cell;
    }
  }

  .desktop-hide {
    display: table-cell;
    @include breakpoint($wide) {
      display: none;
    }
  }

  .weather {
    text-align: right;
    white-space: nowrap;

    form {
      display: inline-block;
      width: auto;
      position: relative;
    }

    input {
      background-color: inherit;
      border: none;
      outline: none;
      text-align: right;
      width: 70%;

      &:focus, &:hover {
        text-decoration: underline;
      }
    }

    .numbers {
      font-family: $font;
      font-weight: bold;

      .high {
        color: $red;
      }

      .low {
        color: $lightblue;
      }
    }
  }
}

.menu {
  background-color: white;
  display: none;
  color: $black;
  height: 4vh;
  width: $menuWide;
  margin: 5px auto 20px auto;
  font-family: $font;
  font-size: 1em;
  border: 1px solid $whiteB;
  border-radius: .1em;
  overflow: hidden;
  box-shadow: -1px 1px 2px $black;
  @include breakpoint($wide) {
    display: table;
  }

  ul {
    display: table-row;

    #home {
      border: none;
    }

    li {
      list-style: none;
      border-width: 0 0 0 1px;
      border-style: solid;
      border-color: $whiteB;
      height: 4vh;
      position: relative;
      text-transform: capitalize;


      a {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
      }
    }

    .menu-item {
      display: table-cell;
      white-space: nowrap;
      width: 1px;
      padding: 0 5px;
      vertical-align: middle;
      text-align: center;
    }

    .menu-item-active {
      background-color: $lightblue;
      color: $whiteA;
    }

    .icon {
      padding-top: 5px;
    }
  }
}
