<div ng-if="model.comments.length > 0" class="card add-bottom-pad">
  <span class="card-title"><span ng-bind="model.comments.length"></span> Comment<span ng-if="model.comments.length > 1">s</span></span>
  <div class="comment" ng-repeat="i in model.comments | orderBy: 'createdat'">
    <span class="comment-createdat" am-time-ago="i.createdat"></span>
    <table>
      <tr>
        <th><img ng-src="{{i.imgnail}}"></th>
        <th>
          <table>
            <tr>
              <td>
                <span class="comment-user" ng-bind="i.user"></span> •
                <span class="comment-state" ng-if="i.locState" ng-bind="i.locState"></span>
                <span class="comment-country" ng-if="i.locCountry" ng-bind="i.locCountry"></span>
              </td>
            </tr>
            <tr>
              <td><span class="comment-body" ng-bind="i.comment"></span></td>
            </tr>
          </table>
        </th>
      </tr>
    </table>

  </div>
</div>
