<div class="logo"><a ui-sref="home"><span class="now">Now</span><em class="news">News</em><strong>Today</strong></a></div>
<div class="logo-container">
  <ul>
    <li ng-bind="model.timeNow | amDateFormat:'dddd, MMMM Do, YYYY'" class="date"></li>
    <li class="logo-subtext">America's Truest News Source</li>
    <li class="weather"><span>Los Angeles</span> • <span class="numbers"><span class="high">72°</span> | <span class="low">46°</span></span></li>
  </ul>
</div>
<div class="menu">
  <ul>
    <li class="menu-item icon" id="home" ui-sref-active="menu-item-active"><a ui-sref="home"></a><i class="material-icons nav-icon">home</i></li>
    <li ng-repeat="item in model.categories" class="menu-item" ui-sref-active="menu-item-active">
      <a ui-sref="category({category: item})"></a>
      <span ng-bind="item"></span>
    </li>
    <li class="menu-item icon"><i class="material-icons nav-icon" ng-click="model.showSearch()">search</i><search-form ng-show="model.searchShow"></search-form></li>
    <li class="menu-item icon"><i ng-click="model.showEdit()" class="material-icons nav-icon">person</i><a ng-show="model.editShow" ui-sref="editor">edit</a></li>
  </ul>
</div>
